* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color:#414042;
    margin: 0px;
}

/* Style the header */
header {
    background-color: black;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}
#reservation{
    float: left;
    background-color: white;
    text-align:center;
    width: 70%;
    border: 2px solid black;
    height: 1000px;
/*     height is temporary just to see */
}
#timepicker{
    border: 3px solid #00B6C9;
    overflow: auto;
    height:200px;
    width: 200px;
    text-align:left;
    position: relative;
    left: 600px;
    top: 100px;
}
#testimonials{
    float: right;
    background-color: gray;
    text-align: center;
    width:30%;
    border: 2px solid black;
     height: 1000px;
/*     height is temporary just to see */
}

/* Style the footer */
footer {
    background-color: #00B6C9;
    padding: 10px;
    text-align: center;
    color: white;
    clear: both;
}